[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui/
[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol
[submodule "lib/sokol-tools-bin"]
	path = lib/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
[submodule "lib/tau"]
	path = lib/tau
	url = https://github.com/jasmcaus/tau/
[submodule "lib/enet"]
	path = lib/enet
	url = https://github.com/lsalzman/enet
