bin/
src/shaders.hxx
catedu/shaders.hxx
ske.rdbg

user/
.vs
out
build
.idea
cmake-build-debug
cmake-build-release

# VS Build info
!launch.vs.json
!tasks.vs.json

# MacOS
.DS_Store

# user data
savestate.sav
.cache
