# Binaries
bin/


# Compiled headers
catedu/shaders.hxx


# Debugger files
*.rdbg


# User files
user/
.cache
*.sleepy


# IDE files
# ( .vs folder is extremely bloated for no reason )
.vs
.idea
# ( except for these two files )
!launch.vs.json
!tasks.vs.json


# OS files
# macOS
.DS_Store
# Windows
Thumbs.db


# Vim files
# ( .swp files are temporary files )
.*.sw?

# Emacs files
# ( .# files are temporary files )
.#*
