bin/
src/shaders.hxx

# Right now only specialized for ske's computer, and publishes on the ske.land
# website which I don't want to reveal tokens or other details of.
# TODO: Generalize it for everyone. (see issue #1)
emscripten_build_and_publish.sh 
user/
.vs
out

# MacOS
.DS_Store
