[submodule "lib/lib-enet"]
	path = lib/lib-enet
	url = https://github.com/skejeton/enet
	shallow = true
[submodule "lib/cgltf"]
	path = lib/cgltf
	url = https://github.com/jkuhlmann/cgltf
	shallow = true
